body{
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}

.nav{
    background-color: white;
}

#logo{
    margin-right: 11rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
}

/* Harmburger Styling */

.harmburger {
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ef7f9a;
    margin: 6px 0;
    transition: 0.4s;
}
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
}
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#nav-bar{
    display: none;
}

#nav-bar a{
    color: #ef7f9a;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.banner{
    background: url('./img/headerBcg.jpeg') no-repeat;
    background-size: 100%;
    background-size: cover;
    padding-left: 3rem;
    overflow: auto;
}

.banner h2{
    color: white;
}

#fola{
    color: #ef7f9a;
    margin-left: 2rem;
}


.explore{
    text-transform: uppercase;
    color: black;
    padding: 0.5rem;
    border: 2px solid black;
    margin-bottom: 4rem;
    margin-left: 2rem;
    border-radius: 0.3rem;
    font-family: "Lobster", cursive;
    font-size: 1.5rem;
    background-color: white;
}

.explore:hover{
    color:#ef7f9a;
    background-color: black;
}

.about-us{
    margin: 3rem;
}

.about-us p{
    color:#6c757d;
}

#us{
    color:#ef7f9a;
    font-size: 4.5rem;
    margin-left: 2rem;
}

.square-image{
    border: 10px solid #f9e494;
    position: relative;
    height: 300px;
    width: 300px;
}

.square-image img{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 0;
}

.store{
    margin: 1rem;
}

#store{
    color:#ef7f9a;
    font-size: 4.5rem;
    margin-left: 1.3rem;
}

.btn-2{
    color: black;
    padding: 0.5rem;
    border: 2px solid black;
    margin-bottom: 1rem;
    margin-left: 0.5rem; 
    border-radius: 0.3rem;
    font-family: "Lobster", cursive;
    font-size: 1.5rem;
    background-color: white;
}

.btn-2:hover{
    color:#ef7f9a;
    background-color: black;
}

.picture-card {
    width: 250px;
    box-shadow: 0 4px 8px 0 grey;
    text-align: center;
    margin-left: 2rem;
}

.picture-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
}

.picture-card img{
    border-radius: 5px;
}

.picture-card p{
    height: 2rem;
    padding-bottom: 2rem;
    font-weight: normal;
}

.amt{
    padding-left: 2rem;
}

#text-box{
    width: 90%;
    padding: 16px 20px;
    border: none;
    background-image: none;
    outline: 0;
    border-radius: 4px;
    margin: 8px 0;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.2) inset, -1px -1px 6px rgba(0,0,0,0.2) inset;
}

@media only screen and (min-width:480px) and (max-width:768px){
    /* mini-tablet and phones with large screen */
    body{
        background-color: yellow;
    }
}


@media only screen and (min-width:769px) and (max-width:960px){
    /* Large Tablet */
    body{
        background-color: red;
    }
}


@media only screen and (min-width:961px){
    /* large screen */
    .bar1, .bar2, .bar3{
        display: none;
    }

    .nav-bar{
        display: inline-block;
    }

    .banner{
        background: url(./img/headerBcg.jpeg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .about-us {
        width: 300px;
        float: left;
        height: 300px;
    }

   .square-image {
        width: 300px;
        float: left;
        height: 300px;
        margin-top: 10rem;
        margin-left: 40rem;
    }

    #clear {
        clear: both;
    }

    #our, .img-gallery{
        text-align: center;
    }

    .btn-2{
       display: inline;
       margin-right: 4rem;
       text-align: center;
    }

    .btns{
        padding-right: 4rem;
    }

    #text-box{
        width: 500px;
       margin-left: 20rem;
    }

    .img-gallery{
        display: flex;
        flex-flow: row wrap;
    }

    .picture-card{
        flex: 0 0 20%;
        margin-bottom: 2rem;
        margin-left: 4rem;
    }

    .text-box{
        width: 50%;
    }
}